/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Poppins",sans-serif;
    background:#F8FAFC;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#ffffff;
    position:sticky;
    top:0;
    z-index:100;
    box-shadow:0 2px 15px rgba(0,0,0,0.08);
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#111827;
}

.logo span{
    color:#4F46E5;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:#374151;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#4F46E5;
}

.nav-buttons{
    display:flex;
    gap:15px;
}

.login-btn{
    padding:10px 22px;
    border:1px solid #4F46E5;
    background:white;
    color:#4F46E5;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

.signup-btn{
    padding:10px 22px;
    border:none;
    background:#4F46E5;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.signup-btn:hover{
    background:#3730A3;
}

.menu-icon{
    display:none;
    font-size:28px;
    color:#4F46E5;
    cursor:pointer;
}

.logo{
    text-decoration:none;
}

@media(max-width:768px){

.menu-icon{
display:block;
}

.nav-buttons{
display:none;
}

.nav-links{

position:absolute;
top:85px;
left:0;

width:100%;

background:white;

flex-direction:column;

padding:25px;

display:none;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.nav-links.active{

display:flex;

}

.navbar{

position:relative;

}

}